.notification {
    position: absolute;
    padding: 2rem 1rem;
    margin: 1.5rem 0;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    width: 25rem;
    border-radius: 1rem;
    left: -19rem;
    background-color: var(--main-bg-color);
}

.notification > p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.notification_box {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    transition: all .3s ease-in;
}

.notification_box:hover {
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: .3rem;
}

.notification_box_img img {
    border-radius: 5rem;
}

.notification_box_info {
    line-height: rem;
}

.notification_box_info h4 {
    font-weight: 600;
    margin-bottom: .3rem;
}

.notification_box_info p {
    font-size: 15px;
    line-height: .3;
    position: relative;
    margin-bottom: .3rem;
}

.notification_box_new {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: aqua;
}