.Subscription{
    width: 100%;
    margin-block: 7rem;
}

.Subscription_box{
    width: 80%;
    margin: 0 auto;
}

.Subscription_box_info{
    text-align: center;
    /* line-height: 0; */
}

.Subscription_box_info h1{
    font-size: 4rem;
    /* line-height: .5; */
}

.Subscription_box_info p{
    font-size: 1.6rem;
    /* line-height: .5; */
}

.Subscription_box_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 7rem;
}